@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model NewSpotify.Models.Models.ViewModels.RecommendationsVm

@{
    ViewData["Title"] = "Suggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-4 mb-4">
    <div class="container">
        <h1>Here are some recommendations for you</h1>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>
                Song
            </th>
            <th>
                Band
            </th>
            <th>
                Album
            </th>
            <th>
                Rating
            </th>
            <th>
                Listen
            </th>
        </tr>

        @foreach (var track in Model.Recommendations)
        {
            <tr>
                <td>
                    <img src="@track.ImageUrl" class="img-responsive voc_list_preview_img" height="35" width="35" alt="" />    @track.Name
                </td>
                <td>
                    @track.ArtistName
                </td>
                <td>
                    @track.AlbumName
                </td>
                <td>
                    @track.Popularity
                </td>
                <td>
                    <a href="@track.SpotifyUrl">Listen</a>
                </td>
            </tr>
        }
    </table>
</div>

