@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@*@model NewSpotify.Web.Models.SearchPlayListResponse*@
@model NewSpotify.Web.Models.ViewModels.PlaylistsVm
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-4 mb-4">
    <div class="container">
        <h1>Select a playlist that you like</h1>
        @if (Model.SelectedSongs.Count > 0)
        {
            <h4>Selected songs:</h4>
            <table class="table table-striped">
                <tr>
                    <th>
                        Song
                    </th>
                    <th>
                        Band
                    </th>
                    <th>
                        Remove
                    </th>
                </tr>

                @foreach (var track in Model.SelectedSongs)
                {
                    <tr>
                        <td>
                            <img src="@track.ImageUrl" class="img-responsive voc_list_preview_img" height="35" width="35" alt="" />    @track.SongName
                        </td>
                        <td>
                            @track.BandName
                        </td>
                        <td>
                            @Html.ActionLink("Remove", "RemoveSong", "Home", new { trackId = @track.TrackId })
                        </td>
                    </tr>
                }
            </table>
            <p class="mt-4">@Html.ActionLink("Get Recommendations from Spotify api", "QuickRecommendationsBySpotify", "Home", new { selectedSongs = @Model.SelectedSongs }) || @Html.ActionLink("Get Recommendations by related artists top tracks", "QuickRecommendationsByRelation", "Home", new { selectedSongs = @Model.SelectedSongs }) ||  @Html.ActionLink("Get Recommendations by track features", "QuickRecommendationsByTrackFeatures", "Home", new { selectedSongs = @Model.SelectedSongs })</p>
        }

    </div>
</div>

<div class="container justify-content-center">
    <div class="row mt-4">
        @foreach (var playlist in Model.PlayLists)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="@playlist.ImageUrl" alt="Card image">
                    <div class="card-body">
                        <a asp-controller="Search"
                           asp-action="Tracks"
                           asp-route-id="@playlist.Id">
                            @playlist.Name
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
