@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@*@model NewSpotify.Web.Models.Spotify.SpotifyTrackresponse*@
@model NewSpotify.Web.Models.ViewModels.TracksVm

@{
    ViewData["Title"] = "Tracks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-4 mb-4">
    <div class="container">
        <h1>Select a song that you like</h1>
        @if (Model.SelectedSongs.Count > 0)
        {
            <h4>Selected songs:</h4>

            <table class="table table-striped">
                <tr>
                    <th>
                        Song
                    </th>
                    <th>
                        Band
                    </th>
                    <th>
                        Remove
                    </th>
                </tr>

                @foreach (var track in Model.SelectedSongs)
                {
                    <tr>
                        <td>
                            <img src="@track.ImageUrl" class="img-responsive voc_list_preview_img" height="35" width="35" alt="" />    @track.SongName
                        </td>
                        <td>
                            @track.BandName
                        </td>
                        <td>
                            @Html.ActionLink("Remove", "RemoveSong", "Home", new { trackId = @track.TrackId })
                        </td>
                    </tr>
                }
            </table>
            <p class="mt-4">@Html.ActionLink("Get Recommendations from Spotify api", "QuickRecommendation", "Home", new { target = "RecommendationsBySpotify" }) || @Html.ActionLink("Get Recommendations by related artists top tracks", "QuickRecommendation", "Home", new { target = "RecommendationsByRelated" }) ||  @Html.ActionLink("Get Recommendations by track features", "QuickRecommendation", "Home", new { target = "RecommendationsByTrackFeature" })</p>

        }

    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>
                Song
            </th>
            <th>
                Band
            </th>
            <th>
                Album
            </th>
            <th>
                Rating
            </th>
            <th>
                Like
            </th>
           
        </tr>

        @foreach (var track in Model.Tracks)
        {
            <tr>
                <td>
                    <img src="@track.ImageUrl" class="img-responsive voc_list_preview_img" height="35" width="35" alt="" />    @track.Name
                </td>
                <td>
                    @track.ArtistName
                </td>
                <td>
                    @track.AlbumName
                </td>
                <td>
                    @track.Popularity
                </td>
               
               
                <td>
                    @using (Html.BeginForm("Index", "Home", new {trackId = track.Id, songName = track.Name, imageUrl = track.ImageUrl, bandName = track.ArtistName }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-primary">Like</button>
                    }
                </td>
            </tr>
        }
    </table>
</div>

