@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model NewSpotify.Web.Models.Spotify.SpotifyTrackresponse

@{
    ViewData["Title"] = "Tracks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-4 mb-4">
    <div class="container">
        <h1>Select a song that you like</h1>
        @if (Model.SelectedSongs.Count > 0)
        {
            <h4>Selected songs:</h4>

            <table class="table table-striped">
                <tr>
                    <th>
                        Song
                    </th>
                    <th>
                        Band
                    </th>
                    <th>
                        Remove
                    </th>
                </tr>

                @foreach (var track in Model.SelectedSongs)
                {
                    <tr>
                        <td>
                            <img src="@track.ImageUrl" class="img-responsive voc_list_preview_img" height="35" width="35" alt="" />    @track.SongName
                        </td>
                        <td>
                            @track.BandName
                        </td>
                        <td>
                            @Html.ActionLink("Remove", "RemoveSong", "Home")
                        </td>
                    </tr>
                }
            </table>

            <h4 class="mt-4">@Html.ActionLink("Get Recommendations from selected songs", "QuickRecommendations", "Home", new { selectedSongs = @Model.SelectedSongs })</h4>
        }

    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>
                Song
            </th>
            <th>
                Band
            </th>
            <th>
                Album
            </th>
            <th>
                Rating
            </th>
            <th>
                Like
            </th>
        </tr>

        @foreach (var track in Model.Items)
        {
            <tr>
                <td>
                    <img src="@track.Track.Album.Images.FirstOrDefault()?.Url" class="img-responsive voc_list_preview_img" height="35" width="35" alt="" />    @track.Track.Name
                </td>
                <td>
                    @track.Track.Artists[0].Name
                </td>
                <td>
                    @track.Track.Album.Name
                </td>
                <td>
                    @track.Track.Popularity
                </td>
               
                <td>
                    @using (Html.BeginForm("Index", "Home", new {trackId = track.Track.Id, songName = track.Track.Name, imageUrl = track.Track.Album.Images.FirstOrDefault()?.Url, bandName = track.Track.Artists.FirstOrDefault()?.Name }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-primary">Like</button>
                    }
                </td>
            </tr>
        }
    </table>
</div>

