@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using NewSpotify.Models.Models.StateManagerModels
@model NewSpotify.Models.Models.ViewModels.TracksVm

@{
    ViewData["Title"] = "Tracks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    await Html.RenderPartialAsync("~/Views/Shared/_SelectedSongsPartial.cshtml");

}

<div class="container">
    <h1>Select a song that you like</h1>
    <table class="table table-striped">
        <tr>
            <th>
                Song
            </th>
            <th>
                Band
            </th>
            <th>
                Album
            </th>
            <th>
                Rating
            </th>
            <th>
                Like
            </th>

        </tr>

        @foreach (var track in Model.Tracks)
        {
            <tr>
                <td>
                    <img src="@track.ImageUrl" class="img-responsive voc_list_preview_img" height="35" width="35" alt="" /> @track.Name
                </td>
                <td>
                    @track.ArtistName
                </td>
                <td>
                    @track.AlbumName
                </td>
                <td>
                    @track.Popularity
                </td>


                <td>
                    @using (Html.BeginForm("AddLikedSong", "Search", new SelectedSongItem { TrackId = track.Id, SongName = track.Name, ImageUrl = track.ImageUrl, BandName = track.ArtistName, PlaylistId = @Model.PlaylistId }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-primary">Like</button>
                    }
                </td>
            </tr>
        }
    </table>
</div>

